#contactApp {
    margin: auto;
    border: 1px solid black;
    box-sizing: border-box;
    width: fit-content;
}
#addContact {
    margin: 10px 30px;
    display: grid;
    grid-template-columns: 37.5% 37.5% 21%;
    grid-column-gap: 2%;    
}
#searchContact {
    margin: 10px 30px;
    display: grid;
    grid-template-columns: 65% 10% 21%;
    grid-column-gap: 2%;  
}
.buttonClick {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 4px 2px;
    border-radius: 7px;
    border: hidden;
    font-family: 'Roboto', sans-serif;
}
.buttonClick:active {
    transform: translateY(1.5px);
}
.fillIn {
    padding: 0px 7px;
    border-radius: 7px;
    border: hidden;
    background-color: rgb(243, 239, 239);  
}
.horizontal {
    border: 1% solid silver; 
    margin: 10px 20px;
}
.contact {
    background-color: rgb(238, 230, 230);
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    padding: 7px;
    border-radius: 10px;
    font-weight: 500;
}